body{
	background: url(background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size:cover ;
	padding: 0;
	margin: 0;
}
#header{
	width: auto;
	min-height: 60px;
	background-color: #1d1d1d;
	margin: 0 auto;
}
#name{
	position: absolute;
	padding: 3px;
	float: left;
	margin-left: 2%;
	margin-top: 10px;
	font-family: sans-serif;
	color: #ffffff;
}
Fname{
	color: #ff4516;
}
#nav{
	width: 40%;
	height: 55px;
	float: right;
}
#nav ul{
	list-style-type: none;
	margin: 0;
	padding: 10px;
}
#nav a{
	min-width: 40px;
	padding: 4px;
	margin: 5px;
	margin-left: 50px;
	float: left;
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
}
#nav a:link, #nav a:visited{
	color: white;
}
#nav a:hover{
	color: #ff4516;
}



#content{
	width: 500px;
	margin: 30px;
	padding: 20px;
	padding-left: 100px;
	padding-top: 50px;
	min-height: 400px;
}
#col{
	width: 400px;
	height: 70px;
	margin-bottom: 50px;
	color: black;
	background-color: rgb(0, 0, 0, 0.2);
	border: 1px solid black;
}
#pokeball{
	width: 70px;
	height: 70px;
	float: left;

}
#title{
	width: 320px;
	height: 50px;
	float: left;
	padding-top: 20px;
}
#title a:link, #title a:visited{
	color: white;
}
#title a:hover{
	color: black;
}
img{
	width: 50px;
	height: 50px;
	padding-left: 20PX;
	padding-top: 10PX;
}
#title a{
	margin: 50px;
	color: white;
	font-family: sans-serif;
	font-size: 20px;
	text-decoration: none;
}
