body{
	background-image: url(img/background.jpg);
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}
#wrapper{
	width: 1024px;
	min-height: 600px;
	background-color: rgba(0, 0, 0, 0.3);
	margin: 0 auto;
	padding: 20px;
}
#header{
	width: 98%;
	height: 160px;
	margin: 1px;
	border-bottom: 2px solid white;
}
#title{
	width: 98%;
	height: 100px;
	float: left;
}
#logo{
	width: 20px;
	float: left;
	padding: 10px;
}
#name{
	float: left;
	margin-left: 110px;
		
}
#header #title #name h1{
	font-size: 50px;
	color: #36b44a;
}
un{
	color: white;
	font-size: 25px;
}
.img2{
	width: 150px;
	height: auto;
}
#navigation{
	width: 50%;
	height: 40px;
	float: right;
}
#navigation ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#navigation a{
	min-width: 40px;
	padding: 7px;
	float: left;
	margin: 2px;
	font-size: 21px;
	text-decoration: none;
	background-color: #36b44a;
	margin-right:5px;
	font-family: sans-serif;
	border-radius: 10px;
}
#navigation a:link, #navigation a:visited{
	color: white;
}
#navigation a:hover{
	background-color: #8bc53d;
	color: white;
}
#header h1{
	font-size: 50px;
	color: white;
	font-family: sans-serif;
}
last{
	color: white;
}



#content{
	width: 90%;
	min-height: 1000px;
	margin: 10px auto;
	padding: 10px;
	padding-bottom: 100px;
	display: block;
}
#content h2{color: white;
	font-size: 35px;
	font-family: sans-serif;
	text-align: justify;
}
#content h1{
	font-size: 17px;
	font-family: sans-serif;
	color: white;
}
#FAQ{
	width: 90%;
	height: 20px;
	float: right;
	padding: 40px;
	padding-top: 0px;
	border-bottom: 1px solid white;
}
#FAQ ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#FAQ a{
	min-width: 40px;
	padding: 10px;
	float: left;
	margin: 2px;
	font-size: 21px;
	text-decoration: none;
	margin-right:100px;
	font-family: sans-serif;
	color: white;
}
#con{
	width: 99%;
	height: 300px;
	margin: 20 auto;
	float: left;
}
#text{
	width: 655px;
	height: 1000px;
	float: left;
	text-align: justify;
	padding-top: 40px;
	margin: 20px;
	padding: 20px;
}
#social{
	width: 130px;
	height: 700px;
	float: left;
	color: darkred;
	padding-top: 40px;
	margin: 20px;
}
bwhite{
	font-size: 25px;
}
green{
	color: #36b44a;
	font-size: 20px;
}
ygreen{
	color: #8bc53d;
	font-size: 19px;
}
#social #logo{
	width: 100px;
	padding-bottom: 40px;
}
.imgl{
	width: 60px;
}














#footer{
	width: 95%;
	height: 150px;
	margin: 10px auto;
	padding: 0px;
	display: block;
	border-top: 2px solid white;
}
#col{
	width: 100%;
	height: 100px;
	margin: 0 auto;
}
#first, #second, #third, #fourth{
	width: 200px;
	height: 170px;
	margin: 10px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: sans-serif;
}
 #third img{
	width: 150px;
	height: auto;
	padding-top: 20px;
}
#footer ul{
	list-style-type: none;
}
#footer h1{
	font-size: 25px;
	color: #36b44a;
	font-family: sans-serif;
}
#footer h2{
	color: white;
	font-size: 25px;
	font-family: sans-serif;
}
#footer #fourth h1{
	font-size: 12px;
	color: white;
}
#fourth{
	width: 290px;
	height: 170px;
	margin: 0px;
	float: left;
	color: white;
	text-decoration: none;
	font-family: sans-serif;}